body {
  background-color: black;
  color: #E0E0E0;
  font-family: 'B612 Mono', monospace;
}

.container {
  width: 65%;
}

.jumbotron {
  text-align: center;
  background-color: black;
  margin-top: 1em;
  padding: 1.5em;
  font-family: 'B612 Mono', monospace;
  color: #00FF00;
  border: solid #00FF00 1px;
  border-radius: 0rem;
}

h1 {
  font-family: 'Courgette', cursive;
  color: #E0E0E0;
}

#header-emphasis {
  font-size: 1.5em;
  font-family: 'B612 Mono', monospace;
  color: #00FF00;
}

.prompt {
  font-weight: bold;
  color: #00FF00;
}

#nameForm {
  display: block;
  margin: auto;
  text-align: center;
}

input {
  text-align: center;
}

img {
  width: 50px;
}

a {
  color: #00FF00;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: #00FF00;
}

.lang {
  color: #00FF00;
}

.btn {
  background-color: black;
  color: #00FF00;
  border-color: #00FF00;
}

.btn:hover {
  color: #E0E0E0;
  text-decoration: none;
}

.resultBox {
  display: block;
  float: centered;
  border: solid 1px #00FF00;
  text-align: center;
  padding: 2em;
}
